body {
	background-image: url("background_image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.parent {
	display: block;
	justify-content: center;
	align-items: center;
}

.child {
	position: absolute;
	width: 40%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.signup {
	width: 80%;
	margin: auto;
}

.navtop {
	width: 80%;
	margin: auto;
}

.userDetails{
	position: absolute;
	top: 10px;
	width: 18rem;
	margin: auto;
}

.msg{
	color: red;
}