<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Verify your Credentials</title>
	<link rel="stylesheet" type="text/css" th:href="@{styles.css}" />
</head>

<body>

	<h1>Verify your Credentials</h1>
	<form th:action="@{/updatepassword}" method="post">
		Enter the username: <input type="text" id="username" name="username" /><br>
		Enter the Email-Id: <input type="text" id="useremail" name="email" /><br>
		Select Security Question: <select id="question" name="question">
			<option value="Select your security question">Select your security question</option>
			<option value="What is your childhood name?">What is your childhood name?</option>
			<option value="What is your pet's name?">What is your pet's name?</option>
			<option value="Which country you want to visit?">Which country you want to visit?</option>
			<option value="Who is your favorite actor?">Who is your favorite actor?</option>
		</select> <br><br>
		Enter the Security Answer: <input type="text" id="answer" name="answer" required /> <br><br>

		<button type="submit">Verify</button>
	</form><br>
	<div style="color: red;" th:if="${message}" th:text="${message}"></div><br>
	<a class="btn-login" th:href=@{/home}>Home</a>
</body>

</html>