<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>change Forgot Password</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{styles.css}" />
	<script type="text/javascript" th:src="@{script.js}"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</head>

<body>
	<div class="container-fluid parent">
		<div class="bg-body-tertiary p-3 rounded-2 child">
			<form class="row g-3" th:action="@{/changeForgotPassword}" method="post">
				<!-- Password input -->
				<div class="col-12">
					<label for="password1" class="form-label">Enter the password: </label>
					<input type="password" class="form-control" id="password1" name="password" placeholder="password"
						required>
				</div>

				<!-- Password input -->
				<div class="col-12">
					<label for="password2" class="form-label">Re-enter the password: </label>
					<input type="password" class="form-control" id="password2" name="password2"
						placeholder="re-enter password" required>
				</div>

				<!-- Submit button -->
				<div class="col-12">
					<button type="submit" class="btn btn-primary form-control">Change Password</button>
				</div>

				<!-- Simple link -->
				<div class="col">
					<a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;"
						th:href=@{/forgotPassword}>
						Back
						<svg class="bi" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="48" height="48"
							viewBox="0 0 48 48">
							<rect x="0" y="0" width="48" height="48" fill="none" stroke="none" />
							<g fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round"
								stroke-width="4">
								<path d="M41.9999 24H5.99994" />
								<path d="M30 12L42 24L30 36" />
							</g>
						</svg>
					</a>
				</div>

				<!-- Simple link -->
				<div class="col" style="text-align: right;">
					<a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 255, 0, 0;" th:href=@{/}>
						Home
					</a>
				</div>

			</form>
			<div class="msg" th:if="${message}" th:text="${message}"></div>
		</div>
	</div>


</body>

</html>
