<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>change Forgot Password</title>
	<link rel="stylesheet" type="text/css" th:href="@{styles.css}" />
</head>

<body>
	Please change your Password
	<form th:action="@{/changeForgotPassword}" method="post">
		Enter the password: <input type="password" id="password" name="password" /><br>
		Re-enter the password: <input type="password" id="password2" name="password2" /> <br>
		<button type="submit">Submit</button><br>
		<div style="color: red;" th:if="${message}" th:text="${message}"></div>
	</form><br>
	<a class="btn-logout" th:href=@{/logout}>Logout</a>
</body>

</html>